<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoopravy.semerad.manazer.InternalManager.mapper.ManagerRepository">

<!--/////////////////////////////////BASIC///////////////////////////////////////////////////////////////////////////-->

    <select id="getAllCustomers" resultMap="userResultMap">
        SELECT * FROM customers u where 1=1
        ORDER BY u.user_id DESC
    </select>

    <select id="getAllCars" resultMap="carResultMap">
        SELECT * FROM cars c WHERE 1=1
        ORDER BY c.car_id DESC
    </select>

    <select id="getAllRepairs" resultMap="repairResultMap">
        SELECT * FROM repairs r where 1=1
        ORDER BY r.repair_id DESC
    </select>

    <select id="getAllParts" resultMap="partResultMap">
        SELECT * FROM parts p where 1=1
        ORDER BY p.part_id DESC
    </select>



<!--//////////////////////Find user by parameters////////////////////////////////////////////////////////////////////-->

    <select id="getUserById" resultMap="userResultMap">
        SELECT * FROM customers u  WHERE 1=1
        AND  u.user_id = #{userId}
        ORDER BY u.user_id DESC
    </select>

    <select id="getUserByName" resultMap="userResultMap">
        SELECT * FROM customers u  WHERE 1=1
        <if test="userName != null">
        <bind name="pattern" value="'%' + userName + '%'" />
        AND LOWER(u.user_name) LIKE LOWER(#{pattern})
        </if>
        ORDER BY u.user_id DESC
    </select>

    <select id="getUserByForeName" resultMap="userResultMap">
        SELECT * FROM customers u  WHERE 1=1
        <if test="userForename != null">
            <bind name="pattern" value="'%' + userForename + '%'" />
            AND LOWER(u.user_forename) LIKE LOWER(#{pattern})
        </if>
        ORDER BY u.user_id DESC
    </select>

    <select id="getUserByEmail" resultMap="userResultMap">
        SELECT * FROM customers u  WHERE 1=1
        <if test="userEmail != null">
            <bind name="pattern" value="'%' + userEmail + '%'" />
            AND LOWER(u.user_email) LIKE LOWER(#{pattern})
        </if>
        ORDER BY u.user_id DESC
    </select>

    <select id="getUserByBirthNumber" resultMap="userResultMap">
        SELECT * FROM customers u  WHERE 1=1
        <if test="userRc != null">
            AND u.user_rc = (#{userRc})
        </if>
        ORDER BY u.user_id DESC
    </select>

    <select id="getUserByPhoneNumber" resultMap="userResultMap">
        SELECT * FROM customers u  WHERE 1=1
        <if test="userPhone != null">
            AND u.user_phone = (#{userPhone})
        </if>
        ORDER BY u.user_id DESC
    </select>



<!--///////////////////////////////////////User detail///////////////////////////////////////////////////////////////-->

    <select id="getUserDetailById" resultMap="userResultMap">
    SELECT * FROM customers u left join repairs r ON u.user_id = r.repair_user_id left join cars c ON c.car_user_id=u.user_id left join parts p ON p.part_user_id=u.user_id WHERE 1=1 AND  u.user_id = #{userId};
    </select>

    <insert id="insertUser" parameterType="com.autoopravy.semerad.manazer.InternalManager.model.Customer" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into customers (user_name, user_rc, user_detail, user_phone, user_email, user_forename)
        values (#{userName},#{userRc},#{userDetail},#{userPhone},#{userEmail}, #{userForeName})
    </insert>

    <update id="updateUser">
        update customers set
        user_name = #{userName},
        user_rc = #{userRc},
        user_detail = #{userDetail},
        user_phone = #{userPhone},
        user_email = #{userEmail},
        user_forename = #{userForeName}
        where user_id = #{userId}
    </update>

    <delete id="deleteUser">
        delete from customers where user_id = #{userId}
    </delete>



<!--///////////////////////////////////////Car detail////////////////////////////////////////////////////////////////-->

    <select id="getCarById" resultMap="carResultMap">
        SELECT * FROM cars r  WHERE 1=1
        <if test="carId != null and carId != ''">
            AND  r.car_id = #{carId}
        </if>
        ORDER BY r.car_id DESC
    </select>

    <select id="getCarDetailById" resultMap="carResultMap">
        SELECT * FROM cars c left join repairs r ON c.car_user_id= r.repair_user_id left join parts p ON c.car_user_id=p.part_user_id  WHERE 1=1 AND  c.car_id = #{carId};
    </select>

    <insert id="insertCar" parameterType="com.autoopravy.semerad.manazer.InternalManager.model.Car" useGeneratedKeys="true" keyProperty="carId" keyColumn="car_id">
        insert into cars (win, spz, km, car_info, end_date_error, feature_repair_date, done_work, exist, buyed_parts, car_user_id, start_date_error)
        values (#{win},#{spz},#{km},#{carInfo},#{endDateError}, #{featureRepairDate},#{doneWork},#{exist},#{buyedParts}, #{carUserId}, #{startDateError})
    </insert>

    <update id="updateCar">
        update cars set
            win = #{win},
            spz = #{spz},
            km = #{km},
            car_info = #{carInfo},
            end_date_error = #{endDateError},
            feature_repair_date = #{featureRepairDate},
            done_work = #{doneWork},
            exist = #{exist},
            buyed_parts = #{buyedParts},
            car_user_id = #{carUserId},
            start_date_error = #{startDateError}
        where car_id = #{carId}
    </update>

    <delete id="deleteCar">
        delete from cars where car_id = #{carId}
    </delete>

















<!--///////////////////////////////////////Repair detail/////////////////////////////////////////////////////////////-->


    <select id="getRepair" resultMap="repairResultMap">
        SELECT * FROM repairs r join cars c ON c.car_user_id = r.repair_user_id  WHERE 1=1 AND  r.repair_id = '1';
    </select>



<!--///////////////////////////////////////Part detail///////////////////////////////////////////////////////////////-->


    <select id="getPart" resultMap="partResultMap">
        SELECT * FROM parts p join repairs r ON p.part_user_id = r.repair_user_id  WHERE 1=1 AND  p.part_id = '1';
    </select>



    <resultMap id="userResultMap" type="com.autoopravy.semerad.manazer.InternalManager.model.Customer">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userForeName" column="user_forename"/>
        <result property="userRc" column="user_rc"/>
        <result property="userDetail" column="user_detail"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <collection property="cars" resultMap="carResultMap"/>
    </resultMap>

    <resultMap id="carResultMap" type="com.autoopravy.semerad.manazer.InternalManager.model.Car">
        <result property="carId" column="car_id"/>
        <result property="carUserId" column="car_user_id"/>
        <result property="win" column="win"/>
        <result property="spz" column="spz"/>
        <result property="km" column="km"/>
        <result property="carInfo" column="car_info"/>
        <result property="startDateError" column="start_date_error" javaType="java.util.Date"/>
        <result property="endDateError" column="end_date_error" javaType="java.util.Date"/>
        <result property="featureRepairDate" column="feature_repair_date" javaType="java.util.Date"/>
        <result property="doneWork" column="done_work"/>
        <result property="exist" column="exist"/>
        <result property="buyedParts" column="buyed_parts"/>
        <collection property="repairs" resultMap="repairResultMap"/>
    </resultMap>

    <resultMap id="repairResultMap" type="com.autoopravy.semerad.manazer.InternalManager.model.Repair">
        <result property="repairId" column="repair_id"/>
        <result property="userRepairId" column="repair_user_id"/>
        <result property="repairs" column="repairs"/>
        <result property="startOfRepair" column="start_date_of_repair" javaType="java.util.Date"/>
        <result property="endOfRepair" column="end_date_of_repair" javaType="java.util.Date"/>
        <result property="techCheck" column="tech_check"/>
        <result property="oil" column="oil"/>
        <collection property="parts" resultMap="partResultMap"/>
    </resultMap>

    <resultMap id="partResultMap" type="com.autoopravy.semerad.manazer.InternalManager.model.SparePart">
        <result property="partId" column="part_id"/>
        <result property="partUserId" column="part_user_id"/>
        <result property="partNumber" column="part_number"/>
        <result property="partDetail" column="part_detail"/>
        <result property="repairDate" column="repair_date" javaType="java.util.Date"/>
    </resultMap>

</mapper>